* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: blue;
  text-decoration: none;
}
main {
  background-color: aquamarine;
  display: grid;
  grid-template-areas:
    "n n n"
    "a a as"
    "f f f";
  margin: auto;
  width: 80%;
}
nav {
  grid-area: n;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 10px;
  display: inline;
}
.card {
  background-color: antiquewhite;
  max-width: 300px;
  text-align: center;
  font-family: arial;
  border: 1px solid black;
}
.price {
  font-size: 15px;
  color: gray;
}
.card button {
  border: #000 solid 2px;
  outline: 0;
  padding: 5px;
  color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}
.card button:hover {
  opacity: 0.7;
}
article {
  padding: 10px;
  gap: 10px;
  grid-area: a;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.rendeles {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto auto;
}
aside {
  grid-area: as;
  background-color: aqua;
}
footer {
  font-size: 15px;
  grid-area: f;
}
img {
  padding: 10px;
  width: 100%;
  border-radius: 25px;
}
@media screen and (max-width: 800px) {
  main {
    grid-template-areas:
      "n"
      "as"
      "a"
      "f";
  }
  article {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 600px) {
  main {
    grid-template-areas:
      "n"
      "as"
      "a"
      "f";
  }
  article {
    grid-template-columns: auto;
  }
}
